#Manarola {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#Londona {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#Hallstate {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#Parize {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#Taito {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#Barselona {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#Santorini{
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#Grimenca {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#Bergena {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.Manarola {
  color: white;
  font-family: "Poppins", sans-serif;
}

.Londona {
  color: white;
  font-family: "Poppins", sans-serif;
}

.Hallstate {
  color: white;
  font-family: "Poppins", sans-serif;
}

.Parize {
  color: white;
  font-family: "Poppins", sans-serif;
}

.Taito {
  color: white;
  font-family: "Poppins", sans-serif;
}

.Barselona {
  color: white;
  font-family: "Poppins", sans-serif;
}

.Santorini {
  color: white;
  font-family: "Poppins", sans-serif;
}

.Grimenca {
  color: white;
  font-family: "Poppins", sans-serif;
}

.Bergena {
  color: white;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-weight: bold;
}